<template>
  <div id="app">
    <h2>Ejemplo de Router</h2>
    <hr />
    <router-link to='/'>Inicio</router-link>
    <router-link to='/uno'>UNO</router-link>
    <router-link to='/dos'>DOS</router-link>
    <hr />
    <router-view />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
import router from './router'

export default {
  name: 'App',
  router,
  components: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
