<template>
  <div id="app">
    <hr />
    <Articulo v-bind:cantidadpedida="cantidad" v-bind:descuento="descuentodeterminado" />
    <hr />
    <h3>Nuestra Primera Aplicacion</h3>
    <input type="text" v-model="cantidad" />
    <h4>Usted esta pidiendo {{ cantidad }}</h4>
    <h4>Su descuento es del {{ descuentodeterminado }}% </h4>
  </div>
</template>

<script>
import Articulo from './components/Articulo'

export default {
  name: 'App',
  data () {
    return {
      cantidad: 0
    }
  },
  computed: {
    descuentodeterminado: function () {
      let desc = 0
      if (this.cantidad > 20) {
        desc = 20
      } else if (this.cantidad > 10) {
        desc = 10
      }
      return desc
    }
  },
  components: {
    Articulo
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
