<template>
  <div>
    <h2>Nombre: {{ nombre }}</h2>
    <h3>Descripcion: {{ descripcion }}</h3>
    <h3>Precio Unitario: {{ precio }}</h3>
    <h3>Importe a Pagar: {{ calcularVenta() }}</h3>
  </div>
</template>

<script>
export default {
  name: 'Articulo',
  data () {
    return {
      id: 0,
      nombre: '',
      descripcion: '',
      precio: 2.5,
      cantidadDisponible: 0
    }
  },
  props: {
    cantidadpedida: {
      type: Number,
      default: 0
    },
    descuento: {
      type: Number,
      default: 0
    }
  },
  methods: {
    calcularVenta: function () {
      return this.precio * this.cantidadpedida * (1 - this.descuento / 100)
    }
  }
}
</script>
