<template>
  <div id="app">
    <h2>El Super Carrito v2</h2>
    <hr />
    <router-view/>
    <hr />
    <button v-on:click="irComprar">Comprar</button>
    <button v-on:click="irCheckout">Ir al Checkout</button>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    irComprar: function () {
      this.$router.push('/')
    },
    irCheckout: function () {
      this.$router.push('checkout')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
