<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejemplo de Storage</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.min.js">
  </script>

</head>

<body>
  <div id='app'>
    <h2>Ejemplo de VuEx</h2>
    <input type="text" v-model="usuario" v-on:keypress.enter="ingresar"  />

    <hr />
    <h4>El carrito es:</h4>
    <vercarrito></vercarrito>
    <hr />
    <h4>Para agregar:</h4>
    <agregarcarrito></agregarcarrito>
    <hr />
  </div>

  <script>
    let initialState = {
      username: '',
      rol: '',
      products: [],
      cart: []
    }

    const store = new Vuex.Store({
      state: initialState,
      mutations: {
        login: function (state, data) {
          state.username = data.usuario
          state.rol = data.rol
        },
        agregarItemACarrito: function (state, item) {
          state.cart.push({
              productName: item.nombre,
              quantity: item.cantidad
          })
        }
      }
    })

    Vue.component('agregarcarrito', {
        name: 'agregarcarrito',
        data: function() {
            return {
                producto: '',
                cantidad: 0
            }
        },
        template: '<div>'+
                  '     <input type="text" v-model="producto" /> <br />' + 
                  '     <input type="text" v-model="cantidad" /> <br />' +
                  '     <button v-on:click="agregarProducto">Agregar</button>' +
                  '</div>',
        methods: {
            agregarProducto: function(ev) {
                this.$store.commit('agregarItemACarrito', {
                    nombre: this.producto, 
                    cantidad: this.cantidad
                });
            }
        }
    });

    Vue.component('vercarrito', {
        name: 'vercarrito',
        template: '<div>' +
                  '<ul>' +
                    '<li v-for="item in items">' +
                    ' {{ item.productName }} - {{ item.quantity }}' +
                    '</li>' +
                  '</ul>' +
                  '</div>',
        computed: {
            items: function() {
                return this.$store.state.cart;
            }
        }    
    });

    var app = new Vue({
      el: '#app',
      store,
      data: {
        usuario: ''
      }, 
      methods: {
        ingresar: function () {
          this.$store.commit('login', { usuario: this.usuario, rol: 'admin' })
        }
      },

    })

    window.miapp = app

  </script>
</body>

</html>