<template>
  <div>
    <h3>Soy Componente Principal</h3>
    <router-link to='/hijo1'>Hijo 1</router-link>
    <router-link to='/hijo2'>Hijo 2</router-link>
    <div>
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Principal'
}
</script>
