<template>
  <q-page class="flex flex-center">
    <q-form
      v-on:submit="login"
      v-on:reset="reset"
    >
      <q-input
        filled
        v-model="username"
        label="Usuario"
        hint="Tu nombre de usuario"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Por favor ingrese su nombre de usuario']"
      />
      <q-input
        filled
        type="password"
        v-model="password"
        label="Contraseña"
        hint="La contraseña con la que se registró"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Por favor ingrese su contraseña']"
      />
      <div>
        <q-btn label="Ingresar" type="submit" color="primary"/>
        <q-btn label="Cancelar" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login: function () {
      const formData = new FormData()
      formData.set('username', this.username)
      formData.set('password', this.password)

      this.$axios.post('http://127.0.0.1:9001/login', formData)
        .then((response) => {
          this.$store.commit('taskmanager/login', {
            username: this.username,
            token: response.data.token
          })
          this.$router.push('taskmanager')
          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'Bienvenido'
          })
        })
        .catch((error) => {
          console.log(error)
        })
    },
    reset: function () {
    }
  }
}
</script>
