<template>
  <div>
    Main
  </div>
</template>

<script>
export default {
  name: 'MainPage',
  beforeCreate: function () {
    if (!this.$store.getters['taskmanager/isLogged']) {
      this.$router.push('/')
    }
  }
}
</script>
