<template>
  <div>
    <AgregarProducto></AgregarProducto>
    <h3>Su carrito actual es:</h3>
    <VerCarrito></VerCarrito>
    <hr />
    <button v-on:click="clickContador">Contar</button>
    <h4>{{ contador }}</h4>
  </div>
</template>

<script>
import AgregarProducto from 'components/AgregarProducto'
import VerCarrito from 'components/VerCarrito'

export default {
  name: 'Carrito',
  components: {
    AgregarProducto,
    VerCarrito
  },
  computed: {
    contador: function () {
      return this.$store.state.contador
    }
  },
  methods: {
    clickContador: function () {
      this.$store.dispatch('incrementar') // Se indica la accion
    }
  }
}
</script>
