<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="row">
        <div class="col self-center">
          <img
            alt="Carrito"
            src="~assets/carrito.png"
          >
        </div>
      </div>
      <div class="row">
        <div class="col  self-center">
          <q-banner rounded class="bg-purple-8 text-white">
            Bienvenido al Super Carrito Web
          </q-banner>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
