<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Hola Mundo !!
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Opciones
        </q-item-label>
        <Enlace
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Enlace from '../components/Enlace'

export default {
  name: 'MainLayout',

  components: {
    Enlace
  },

  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'Principal',
          caption: 'inicio',
          icon: 'school',
          link: '#/'
        },
        {
          title: 'Carrito',
          caption: 'github.com/quasarframework',
          icon: 'code',
          link: '#/carrito'
        },
        {
          title: 'Checkout',
          caption: 'chat.quasar.dev',
          icon: 'chat',
          link: '#/checkout'
        }
      ]
    }
  }
}
</script>
