<template>
  <div>
    <h3>Checkout</h3>
    <div>
      <ul>
        <li v-for="item in items" v-bind:key="item.productName" >
          {{ item.productName }} - {{ item.quantity }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Checkout',
  computed: {
    items: function () {
      return this.$store.state.cart
    }
  }
}
</script>
